.detailedContainer {
  border: 1px solid lightgray;
  border-radius: 2vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 1vh;
  padding: 1vh;
  overflow: auto;
}
.detailedImg {
  width: 100%;
  padding-left: 2vh;
  padding-right: 2vh;
}

.detailedTitle {
  font-size: 3vh;
  font-style: italic;
  padding-left: 2vh;
  padding-top: 1vh;
}
.detailedDescrip,
.detailedFull {
  font-size: 2vh;
}
.detailedDescrip:hover,
.detailedFull:hover {
  cursor: pointer;
}
.detailedDateStyle {
  font-size: 2.25vh;
  float: left;
}
.detailedShareButton {
  margin-left: 0em;
  margin-right: 0em;
}
#shareButtonContainer {
  float: right;
}
#detailedDateShare {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  padding-left: 2vh;
  padding-right: 2vh;
  width: 100%;
}
